@charset "utf-8";

/* HTML Styles */
html {
    width: 100%;
    height: 100%;
    margin: 0%;
}

/* Body Styles */
body {
   background-color: #0B0C10;
   width: 100%;   
   height:100%;
   margin-left: 1em;
   margin-right: 1em;
}

/* Navigation, Aside & Footer Styles */
.border1 {
   background-color: #1F2833;
   padding: 5px;
   text-align: center;
   font-size: 15px;
}

/* Navigation Styles */
#horizontalNavigation {
	background: #1F2833;
	color: #45A29E;
	height: 45px;
	padding-right: 18px;
	border-radius: 10px;
    display: flex;
    flex-direction: row;
}
#horizontalNavigation ul, #horizontalNavigation li , #logo{
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#horizontalNavigation ul {
	width: 100%;
}
#horizontalNavigation li {
	float: right;
	display: inline;
	position: relative;
}
#horizontalNavigation a{
	display: block;
	line-height: 45px;
	padding: 0 12px;
	text-decoration: none;
	color: #C5C6C7;
	font-size: 16px;
}

#logo{
	display: block;
	line-height: 45px;
	padding:0 12px;
}

#horizontalNavigation li a:hover {
	color: #66FCF1;
}

#horizontalNavigation label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
}
#horizontalNavigation label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-right: 15px;
}

/* Typography */
p{
	vertical-align: top;
    list-style-type: none;
}

body {
	font-family: 'Times New Roman', Times, serif;
	color: #ffffff;
	line-height: 1;
}

/* Headings Styles */
.headings{
	color:#95adc5;
}

h1#feedback{
	font-size: xx-large;
	margin-left: 1em;
}

/* Section Styles */
#description {
    background-color: #1F2833;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

/* Forms Layout */
form {
    background: #1F2833;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

fieldset#experience > div.feedbackRow {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
    padding-left: 1em;
    padding-right: 1em;
}

fieldset#personalInfo > div.feedbackRow {
    display: flex;
    flex-direction: column;
    margin: 2px 0px;
    padding-left: 1em;
    padding-right: 1em;
}

fieldset > div.feedbackBox {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

fieldset#personalInfo > div.feedbackRow > label{
    margin-top: 14px;
    margin-bottom: -1em;
}

fieldset#experience > div.feedbackRow > * {
    flex: 1 1 100px;
}

fieldset#personalInfo > div.feedbackRow > * {
    flex: 1 1 35px;
}

form#survey {
    display: flex;
    flex-flow: row wrap;
}

form#survey > fieldset#experience {
    background-color:#6f5e50;
    border-radius: 20px;
    flex: 1 1 250px;
    font-size: 0.85em;
    padding: 10px;
    margin: 10px;
}

form#survey > fieldset#personalInfo {
    background-color:#6f5e50;
    border-radius: 20px;
    flex: 1 1 250px;
    font-size: 0.85em;
    padding-top: 0em;
    margin: 10px;
}

legend {
    background-color: #7395AE;
    color: #0B0C10;
    padding: 5px;
}

/* Radio Button Styles */
fieldset.optGroup {
    text-align:center;
    margin-bottom: 1em;
}

/* Text Area Styles */
textarea {
    margin-top: 10px;
    height: 100px;
    width: 100%;
}

/* Form Button Styles */
div#buttons {
    text-align: center;
    width: 100%;
}

input[type='submit'], input[type='reset'] {
    font-size: 1em;
    padding: 5px;
    margin: 15px;
}

/* Validation Styles */
input:focus, select:focus, textarea:focus {
    background-color: rgb(220, 255, 220);
}

input#name:focus:valid,
input#email:focus:valid,
input#phone:focus:valid {
    background:rgb(220, 255, 220);
}

input#name:focus:invalid,
input#email:focus:invalid,
input#phone:focus:invalid {
    background:rgb(255, 232, 233);
}

/* Grid Styles for Page Body*/
body {
	margin-left:0%;
	margin-right:0%;
	display: grid;
	width: 100%;
	height: 100%;
    grid-template-columns: repeat(2,3fr);
    grid-template-areas: "nav nav" 
                         "feedback feedback"
                         "text text"
                         "form form"
                         "footer footer";
    grid-gap: 1em;
}

header {
	grid-area: nav;
}

h1#feedback {
    grid-area: feedback;
}

div#description {
    grid-area: text;
}

form {
    grid-area: form;
}

footer.border1{
	grid-area: footer;
}